body{
    display: flex;
    background: rgb(31, 27, 36);
    text-align: center;
  justify-content: center; /* Centers the div horizontally */
  align-items: center; 
  flex-direction: column;
  min-height: 100vh
}

h1{
    color: beige;
    font-size:60px;
    font-style:Bold;
    font-family:Helvetica;
    
}
footer {
    color:aliceblue;
    font-family:Helvetica;
}
.search_box {

    
    
    
    margin: auto;
}
.button-rail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
    padding: 40px;
button
 {background-color: transparent;
    
    border-style: flat;
    color: white;
    border: 2px solid rgb(138, 43, 226,255);
    padding: 15px;
    border-radius: 30px;
}

button:hover{
    transition: 0.4s;
    background-color: rgb(138, 43, 226);
    
    

}
button:active{
    background-color: rgb(186, 124, 245);
    border-color: rgb(186, 124, 245);
    transition: 0.1s;
    
    color: black;
}}
.main-box {
    background-color: whitesmoke;
    min-width: 600px;
    display: flex;
    align-items: center;
    flex-direction:row;
    border:none;
    padding: 5px;
    border-radius: 30px;
input{
    flex-grow: 1;
 }
}
.main-box:hover{
    outline: 2px solid rgb(138, 43, 226,255) ;
}
.main-box:focus-within{
    outline: 2px solid rgb(138, 43, 226,255) ;
}
.search_bar{
    
    border:none;
    outline: none;
    padding: 15px;
    border-radius: 30px;
    transition: 0.4s;
    background-color: transparent;
    background-image: url('./search-button-svgrepo-com.svg');
    background-origin: content-box;
    
    
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-origin: border-box;
    background-position: center left 15px;
    padding-left:45px

    
}

.search_btn{
    
    
    border-style: flat;
    color: white;
    background-color: rgb(138, 43, 226);
    border: 2px solid rgb(138, 43, 226,255);
    padding: 15px;
    border-radius: 30px;
}
.search_btn:hover{
    transition: 0.4s;
    background-color: rgb(186, 124, 245);
    border-color: rgb(186, 124, 245);
    

}
.search_btn:active{
    background-color: transparent;
    transition: 0.1s;
    
    color: black;

}
